<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello Beacons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42F40AE61D00EE75006E1250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F40AFD1D00EE76006E1250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F40B081D00EE76006E1250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
